<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="style/global.css">
    <link rel="stylesheet" href="style/home.css">
    <link rel="stylesheet" href="style/nav.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
    <%- include('navbar') %>
    <main>
        <div class="row">
            <div class="col-6">
                <h1 class="greeting">Welcome back <%= userName%>!</h1>
            </div>
            <div class="col-6">
                <img class="profile-pic" src="/assets/profile-pics/<%= userPic%>.jpg" alt="profile pic">
            </div>
        </div>
        <div class="row">
            <div class="col-11">
                <ul class="chatroom-list">
                    <% rooms.forEach((room) => { %>
                        <a href="/chatroom/<%=room.id%>" class="chatroom-join">
                            <li class="chatroom">
                                <%= room.name %> - <%= room.users.length %> users
                            </li>
                        </a>
                    <% }); %>
                </ul>
            </div>
            <div class="col-1">
                <button type="button" class="chatroom-add" data-bs-toggle="modal" data-bs-target="#addChatroomModal"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
                    </svg></button>
            </div>
            <div class="modal fade" id="addChatroomModal" tabindex="-1" role="dialog" aria-labelledby="addChatroomModalTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addChatroomModalTitle">New Chatroom</h5>
                        </div>
                        <div class="modal-body">
                            <label for="chatroomName">Name</label>
                            <input type="text" name="chatroomName" id="chatroomName">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioPrivate">
                                <label class="form-check-label" for="flexRadioPrivate">
                                    Private
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioPublic" checked>
                                <label class="form-check-label" for="flexRadioPublic">
                                    Public
                                </label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" onclick="startNewRoom()">Join</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
<!--    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script>
            function startNewRoom() {
                let roomName = document.getElementById("chatroomName").value;
                let publicRadio = document.getElementById("flexRadioPublic");
                if (roomName.length > 0) {
                    fetch("/chatroom?roomname=" + roomName + "&public=" + publicRadio.checked, {
                        method: "POST"
                    }).then (async res => {
                        window.location.href = "/chatroom/" + (await res.text());
                    });
                }
            }
    </script>
</body>
</html>